<h1><center>Kenji Board</center></h1>

<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<table class="flat-table">
  <thead>
    <tr>
      <th>Updated</th>
      <th>Title</th>
      <th>Content</th>
      <th>Posted by</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= time_ago_in_words(post.updated_at) %> ago</td>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= post.user.name %></td>
        <% if current_user %>
          <td><%= link_to image_tag("edit.png", :border => 0), edit_post_path(post) if post.user == current_user %></td>
          <td><%= link_to image_tag("delete.png", :border => 0), post, method: :delete, data: { confirm: 'Are you sure?' } if post.user == current_user  %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

